body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center-align {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}
.logo {
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 2.2rem;
  font-weight: bold;
  font-style:italic;
  letter-spacing: 3px;
  color: black;
}
.navigation ul {
  display: flex;  
}
.navigation li, a {
  list-style: none;
  text-decoration: none;
  margin: 0 20px;
  color: black;
}
li:hover {
  cursor: pointer;
}
